---
import Navigation from "../components/shared/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const pageTitle = "Sobre mi";
const identity = {
	firstName: "Domingo",
	country: "Chile",
	ocupation: "Web developer",
	hobbies: ["draw", "learn about technologies", "make wooden furniture"],
};
const skills = ["html", "css", "SASS", "React", "Astro", "Redacción"];

const happy = true;
const finished = false;
const goal = 2;

const skillColor = "peru";
const fontWeight = "bolder";
const textCase = "uppercase";
---

<BaseLayout pageTitle="Acerca de nosotros">
	<article>
		<p>Algo sobre mí:</p>
		<p>Me llamo {identity.firstName} y trabajo como {identity.ocupation}</p>
		<p>Tengo habilidades avanzadas en:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		{
			identity.hobbies.length >= 4 && (
				<p>
					Dos de mis aficiones son: {identity.hobbies[0]} y{" "}
					{identity.hobbies[1]}
				</p>
			)
		}

		{happy && <p>¡Estoy feliz desarrollando mi revista!</p>}
		{finished && <p>¡He terminado este tutorial!</p>}
		{
			goal === 2 ? (
				<p>Mi objetivo es terminarlo en 2 días</p>
			) : (
				<p>Mi objetivo no son 2 días</p>
			)
		}
	</article>
</BaseLayout>
